<div class="container text-center">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>On a cold winter evening I sat with:</h1>
      <img src="<%= results[1] %>" class="gifImg img-responsive center-block">
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <h1>We of course cuddled to stay warm as we binge watched:</h1>
      <img src="<%= results[0] %>" class="gifImg img-responsive center-block">
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Hours felt like minutes and we were full of</h1>
      <img src="<%= results[3] %>" class="gifImg img-responsive center-block">
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Night turned into day as we watched the finale and we were:</h1>
      <img src="<%= results[2] %>" class="gifImg img-responsive center-block">
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <form action="/profile" method="POST">
          <input hidden type="text" name="favTv" value="<%= results[0] %>">
          <input hidden type="text" name="favCeleb" value="<%= results[1] %>">
          <input hidden type="text" name="favReaction" value="<%= results[2] %>">
          <input hidden type="text" name="favEmotion" value="<%= results[3] %>">
          <button class="btn btn-success btn-block favBtn up-btn" type="submit">Favorite this Mad GIF!</button>
      </form>
          <a href="/madgif" class="btn btn-primary btn-block up-btn">Create New Mad GIF</a>
    </div>
</div>
